<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/service.css"> -->
    
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"> -->
    <title>Service</title>
</head>


<body>
    <div>
        <h1> thank you for request</h1>
        <span> your order is <%= data.userName %> </span>
    </div>
    <!-- <script src="/ejs.js"></script> -->
</body> 

</html>